.footer {
  height: 169px;
  background-color: #1a1a1a;
  .descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
  }
}
